:root {
    --bs_vivid: #1ABC9C;
    --bs_darker: #2C3E50;
    --bs_lighter: #3A546D;
}


/* #region debug */
.debug header,
.debug .credits {
      background-color: var(--bs_darker);
}

.debug [class^="col"] {
      border: 1px solid black;
      height: 50px;
}
.debug .jumbotron,
.debug .about {
      background-color: var(--bs_vivid);
}
.debug header [class^="col"] {
      background-color: green;
}
.debug .jumbotron [class^="col"] {
      background-color: brown;
}
.debug .portfolio [class^="col"] {
      background-color: lightgoldenrodyellow;
}

.debug .about [class^="col"] {
      background-color: lightskyblue;
}

.debug .credits [class^="col"] {
    background-color: lightpink;
}

.debug .copyright [class^="col"] {
    background-color: lightcoral;
}

/* #endregion debug */


img {
      max-width: 100%;
}

.jumbotron img {
      width: 150px;
}

header {
      background-color: var(--bs_darker);
}

.fs_nav_right a{
      text-decoration: none;
      font-size: 11px;
      padding: 0 1rem;
      color: white;
      
}

.col_white {
      color: white;
}

.jumbotron {
      background-color: var(--bs_vivid);
}

.profile h1 {
      color: white;
      padding: 0.5rem;
}

.line_white {
      height: 2px;
      width: 100px;
      background-color: white;
}

.line_black {
      height: 2px;
      width: 100px;
      background-color: black;
}

.profile_description i {
      padding: 0 1rem;
      color: white;
}

.profile_description_2 i {
      padding: 0 1rem;
}

.portfolio {
      margin-top: 2rem;
}