
/* #region debug */
.debug header,
.debug .credits {
      background-color: var(--bs_darker);
}

.debug [class^="col"] {
      border: 1px solid black;
      height: 50px;
}
.debug .jumbotron,
.debug .about {
      background-color: var(--bs_vivid);
}
.debug header [class^="col"] {
      background-color: green;
}
.debug .jumbotron [class^="col"] {
      background-color: brown;
}
.debug .portfolio [class^="col"] {
      background-color: lightgoldenrodyellow;
}

.debug .about [class^="col"] {
      background-color: lightskyblue;
}

.debug .credits [class^="col"] {
    background-color: lightpink;
}

.debug .copyright [class^="col"] {
    background-color: lightcoral;
}

/* #endregion debug */

/* #region common rules */
img {
      max-width: 100%;
}

header {
      background-color: var(--bs_darker);
}

:root {
      --bs_start: #1ABC9C;
      --bs_darker: #2C3E50;
      --bs_lighter: #3A546D;
  }

/* #endregion common rules */


/* #region start */
.jumbotron img {
      width: 150px;
}

.fs_nav_right a{
      text-decoration: none;
      font-size: 11px;
      padding: 0 1rem;
      color: white;
      
}

.col_white {
      color: white;
}

.jumbotron {
      background-color: var(--bs_start);
}

.profile h1 {
      color: white;
      padding: 0.5rem;
}

.line_white {
      height: 2px;
      width: 100px;
      background-color: white;
}

.profile_description i {
      padding: 0 1rem;
      color: white;
}

.profile_description_2 i {
      padding: 0 1rem;
}

/* #endregion start */

/* #region portfolio */

.portfolio {
      margin-top: 2rem;
}

.line_black {
      height: 2px;
      width: 100px;
      background-color: black;
}

/* #endregion portfolio */

/* #region about */

.about {
      background-color: var(--bs_start)
}

.about h2 {
      color: white;
}

.about p {
      color: white;
}

/* #endregion about */

/* #region contact_me */

.contact_me {
      margin-top: 2rem;
}

/* #endregion contact_me */

/* #region footer */

.credits {
      background-color: var(--bs_lighter);
      margin-top: 2rem;
      color: white;
}

.copyright {
      background-color: var(--bs_darker);
}

.credits a {
      text-decoration: none;
      color: var(--bs_start);
}

.credits i {
      border-radius: 50%;
      border: 1px solid white;
      padding: 1rem;
      margin-left: 0.5rem;
}
/* #endregion footer */